Babul, zhdi menya v maye, ya priyedu na poyezde
Sidit i zalipayet doma v kanaly na teleke
Byli malymi, razbivali koleni na velikie
Khotiili, kak stanem postarshe, katatsya na gelikakh
Shchas s ulybkoy eti vospominaniya
Smotrel serialy kriminalnye, khotel byt' gangstera
Smotrel na brata, osoznal, chto zhizn' tam ne sladkaya
Potom khotel stat' povarom, kanaly kulinarniye
Skidivalis' ulitsey po 20 rubley na pivas
2010 — perviy dym i glotok Zhigulevskogo
Igrali v futbol'ik, i vse kedy stiral ob asfalt
I letom bylo tak polno priklyucheniy na zhopu
Zapakh svoyey ulitsy ya ne zabudu
Ya ne zabudu ruki mamy i yeye ob'yatiya
Tot samyy pereyezd v kholodnyy gorod Sankt-Peterburg
Chto pomenyal menya na 360 gradusov
